body
{
    margin: 0px 0px;
    padding: 0px 0px;
}
.bg-image {
    background-image: url('imgs/background.jpg');
    height: 100vh;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent-button {
    background: transparent;
    color: inherit; 
    border-style:solid;
    border-color: white;
    border-width: 1px;
    box-shadow: none; 
}

.transparent-button:hover,
.transparent-button:focus {
  background: transparent;
  opacity: 0.5;
  border-style:solid;
  border-color: white;
  border-color: rgba(255, 255, 255, 0.813);
  box-shadow: none;
}